/* Decraling variables */
:root {
    --color-primary: var(--color-primary);
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --color-text: var(var(--color-primary))
}

/* Scroll to top button */
html {
    scroll-behavior: smooth;
}

/* Backgroung color */
body {
    background-color: var(--color-text);
}

a {
    background-color: var(--color-text);
}

.visually-hidden {
    display: none;
}

.card-category {
    color: var(--color-primary);
}

.section-tagline {
    color: var(--color-primary);
}